.map {
    height: 100%;
    padding: 0;
}

.mapContainer {
    height: 100%;
    padding-left: 15px;
}

#optAddGroup{
    padding-top: 13px;
}

#btnOptimize{
    padding-top: 10px;
}

.radioLabelMid{
    font-size: .8rem;
}
  